body{
    background-color: #fff;
    background-image: none;
    padding: 0;
}
.container{
    display: grid;
    grid-template-columns: 20% 50% 30%;
    width: 98%;
    min-height:calc(100vh - 5em) ;
}
.sideConversations{
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-x:hidden;
}
.friendTiles{
    display: flex;
    flex-direction: column;
    max-height:80vh;
    width:100%
}
#friendsAndGroups{
    position: absolute;
    width: 100%;
    background-color: rgb(235, 222, 222);
    z-index: 2;
    top:15%;
}
.friendTile{
    will-change: opacity;
    transition: opacity .3s;
}
.friendTile:hover{
    opacity: 0.8;
    cursor: pointer;
}
.conversationTile, .groupConversationTile{
    border-bottom: 1px dotted black;
    padding: 0.5em 0;
    display: flex;
    flex-direction: row;
}
.conversationTile:hover, .groupConversationTile:hover{
    background-color: rgb(235, 222, 222);
    cursor:pointer;
}
.mainConversation{
    border-right:1px solid black;
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    gap:1em;
}
.currentMessages{
    display: flex;
    flex-direction: column;
    gap:2em;
    max-height: 75vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.info{
    border-bottom: black dotted 1px;
}
.messageInput{
    border-radius: 1em;
    background-color: rgb(235, 222, 222);
    border:none;
    resize: none;
}
.messageBox{
    display: grid;
    grid-template-columns: 85% 15%;
    position: sticky;
    top:97%;
}
.commonTasks{
    text-align: center;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:0.5em;
}
.task{
    max-width:50%; 
}

.messageBig{
    width:fit-content;
    border-radius:1em;
    background-color: rgb(235, 222, 222);
    padding:0.5em;
}
.fromYou{
    background-color:#6d6de9;
    margin-left:0.5em; 
    align-self:flex-end;
}
.friendRequest, .toYou{
    margin-right:0.5em; 
}
.btn-accept, .btn-reject{
    font-size:1em;
    border:none;
    background-color: inherit;
    color:#0df102;
}
.btn-reject{
    color:red;
}
.high{
    background:red;
}
#footer {
    margin:0;
    height: 2em;
}
#currentId{
    display: none;
}
#friendSelectInput{
    border-radius: 1em;
    padding: 0.5em;
    width: 80%;
    border: none;
    border-bottom: 1px solid rgb(85, 113, 156);
}
.messageBig{
    animation: show-and-slide .6s .2s ease-in both;
}
@media screen and (max-width: 500px){
    body{
        font-size: 16px;
    }
    .container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .friendTiles{
        display: none;
    }
    #friendsAndGroups{
        position: fixed;
        top:23%;
    }
    .mainConversation{
        border:none;
    }
    #friendSelectInput{
        width: 98%;
    }
}
@keyframes show-and-slide{
    from{
        transform:translateY(20%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}