body{
    background-color: rgb(224, 218, 218);
    background-image: none;
    padding: 0;
}
.mainContainer{
    display: grid;
    width: 100%;
    grid-template-columns: 20%, 50%;
}
.userInfo{
    background-color: #fff;
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: fit-content;
    padding: 6em;
    margin: auto; */
}
.bigUserImage{
    width: 7em;
    height: 7em;
    border-radius: 50%;
    border: black solid 1px;
}
.friendLink:hover{
    opacity: 0.9;
}
.friends{
    border: 2px solid black;
    display: grid;
    grid-template-columns: auto auto auto;
    padding:0.5em;
    gap:1em;
    min-width: 20%;
    background-color: white;
    max-width: 50%;
    margin-left: 1em;
}
.friend{
    width: fit-content;
}
.friendImage{
    max-width: 6em;
    max-height: 6em;
}
.title{
    grid-column: 1/4;
    margin:auto;
}
.groups{
    border:2px solid green;
    display: flex;
    flex-direction: column;
    padding: 1em;
}
.group{
    width: 90%;
    margin-left: 5%;
}
.member{
    background-color: #fff;
    border-radius:1em;
}