body{
    background-color: rgb(224, 218, 218);
    background-image: none;
    padding: 0;
}
.mainContainer{
    display: grid;
    width: 100%;
    grid-template-columns: auto, auto;
    margin-bottom: 2em;
}
.userInfo{
    background-color: #fff;
    grid-column: 1/3;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    /* width: fit-content;
    padding: 6em;
    margin: auto; */
}
.bigUserImage{
    width: 7em;
    height: 7em;
    border-radius: 50%;
    border: black solid 1px;
}
.friendLink:hover{
    opacity: 0.9;
    cursor:pointer;
}
.friends{
    border: 2px solid black;
    padding:0.5em;
    display:grid;
    grid-template-columns:  repeat(3,1fr);
    gap:1em;
    background-color: white;
    margin-left: 1em;
    min-width: 20em;
    max-width: min-content;
    height:min-content;
}
.friendImage{
    width: 6em; 
}
.title{
    grid-column:1/4;
    margin:auto;
}
.groups{
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: calc(fit-content + 3em);
}
.group{
    width: 90%;
    margin-left: 5%;
}
.groupName{
    margin: 1em 0 ;
}
.groupNameEditBtn{
    background-color: inherit;
    border:none;
}
.members{
    display:flex;
    flex-direction:column;
}
[class*="fa"]{
    opacity: .85;
    will-change: opacity;
    transition: opacity .3s;
}
[class*="fa"]:hover{
    cursor: pointer;
    opacity: 1;
}
.editImageForm{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.editImage__input{
    display: none;
    padding:1em;
    border-radius: 1em;
}
.editImage__input-animated{
    animation: animate-file-input .4s ease-out both;
}
.img-btn{
    display: none;
    height: min-content;
    width: min-content;
}
.img-btn-animated{
    animation: animate-file-input .4s ease-out both;
}
.fa-camera{
    transition: opacity .4s;
    will-change: opacity;
}
.fa-camera:hover{
    cursor: pointer;
    opacity: 0.8;
}
[id*="deleteUser"] {
    visibility: hidden;
}
#deleteFriendsBtn{
    display: block;
    margin: auto;
}
.nameInput{
    padding:0.3em;
    border-radius: 1em;
    border:none;
    animation: animate-name-input .4s .2s ease-out both;
}
.btn-submit, .btn-cancel-animated{
    animation: animate-name-input .4s .2s ease-out both;
}

#friendFormWrapper{
    padding: 1.5em;
    flex-direction: column;
    width: 20%;
    justify-content: center;
    align-items: center;
    max-height:100vh;
    overflow-y:scroll;
}
#popupSubmit{
    animation: none;
}
.popupMessage{
    animation: show-up .4s ease-out both;
}
.popupMessage-hide{
    animation: hide-self .4s ease-out both;    
}
.group{
    animation: show-group .6s .2s ease-out both;
}
@media screen and (max-width: 768px){
    .friendImage{
        width:3em;
    }
    .friends{
        min-width:11em;
    }
}
@keyframes animate-file-input{
    from{
        opacity: 0;
        transform: translateX(-10%);
    }
    to{
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes animate-name-input{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes show-up{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes hide-self{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
@keyframes show-group{
    from{
        opacity: 0;
        transform: translateY(50px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}