.rowContainer{
    grid-column: 1/4;
    display: flex;
    flex-direction: row;
    gap:2em;
    justify-content: space-between;
}
.row{
    display: flex;
    flex-direction: column;
    gap:1em;
    border: 2px solid blue;
    background-color: lightblue;
    min-width:20%;
    min-height: 100px;
    margin-left: 0;
    transition: margin-left 2s;
}
.row:hover{
    margin-left: 7em;
}
.buttons{
    grid-column: 1/4;
    background-color: #fff;
}
.box{
    background-color: black;
    color:white;
}
@keyframes animateRow{
    0%{
        margin-left: 0;
    }
    100%{
        margin-left: 7em;
    }
}