{% extends 'task_organiser/main_template.html' %}
{% load static %}
{% block content %}
<div id="taskFormContainer">
    <div id="taskFormWrapper">
        <button class="hideFormBtn">X</button>
        <form class="addTask" id="addTask">
            {% include 'task_organiser/taskForm.html' %}
        </form>   
    </div>
</div>
    <br>
    <div class="mainPanelCal">
        <h3 class="plan-title-cal">
            All of Your tasks sorted by deadline and highlighted 
            depending of chosen importancy
        </h3>
        <div id="legend">
            <div class="small-box" 
            style="background-color:rgba(255, 0, 0, 0.785);">
            </div> <div class="legend-p">High importancy</div>
            
            <div class="small-box"
            style="background-color:rgba(229, 255, 0, 0.785);">
            </div> <div>Medium importancy</div>
            
            <div class="small-box"  
            style="background-color:rgba(0, 255, 21, 0.785);">
            </div> <div>Low importancy</div>
        </div>
        {% include 'task_organiser/popup.html' %}
        <div class="sortingBar">
            <label for="datePicker">Go to chosen date</label>
            <input type="date" id="datePicker">
            <label for="groupSelectCalendar">Choose tasks to display</label>
            <select id="groupSelectCalendar">
                <option value="all">All</option>
                <option value="Just You">Just You</option>
            </select>
            <label for="addTaskBtn">Create new task</label>
            <button id="addTaskBtn">Add new</button>
        </div>
        <div class="rowContainer">
            <div class="buttons">
                <button class="slider-btn" style="float:left;">-</button>
                <button class="slider-btn" style="float: right;">+</button>
            </div>
            <div class="row">
                <div class="date-link"></div>
            </div>
            <div class="row">
                <div class="date-link"></div>
            </div>
            <div class="row">
                <div class="date-link"></div>
            </div>
        </div>  
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'js/home/addClassesHome.js' %}"></script>
    <script type="module" src="{% static 'js/calendar/calendar.js' %}"></script>
{% endblock %}

