<div class="friendTile">
    <img src="static/img/profilowe.jpg" alt="" class="profileImg">
    <div class="memberUsername">zunia</div>
    <input type="checkbox" name="" id="">
</div>
<div class="friendTile">
    <img src="static/img/profilowe.jpg" alt="" class="profileImg">
    <div class="memberUsername">adi</div>
    <input type="checkbox" name="" id="">
</div>
<div class="friendTile">
    <img src="static/img/profilowe.jpg" alt="" class="profileImg">
    <div class="memberUsername">tomek</div>
    <input type="checkbox" name="" id="">
</div>
<div class="friendTile">
    <img src="static/img/profilowe.jpg" alt="" class="profileImg">
    <div class="memberUsername">huben</div>
    <input type="checkbox" name="" id="">
</div>

<button style="margin:auto" id="removeFriends" class="btn-submit">Remove selected friends</button>