{% extends 'task_organiser/main_template.html' %}
{%load static %}
{% block head %}
<style>
    .task{
        width: fit-content;
    }
</style>
{% endblock %}
{% block content %}

<div class="mainContainer">
    <div class="sideMenu">
        <a href="#plan" class="side-link">Today's plan</a>
        <a href="#addTask" class="side-link">Add task</a>
    </div>
    <div id="idHome">
        {{user.id}}
    </div>
    <div class="mainPanel">
        <div class="plan" id="plan">
            <h3 class="plan-title">
                Hello {{user.username}}, those are Your tasks for today
            </h3>
            {% for task in tasks %}
                <div class="task {{task.1}}">
                    <h4 style="text-decoration:underline">
                        {{task.0.name}}
                    </h4>
                    <h6>
                       description: {{task.0.description}}
                    </h6>
                    <p>
                        has to be done until: {{task.0.deadline}}
                    </p>
                    <p>
                        status: {{task.0.status}}
                    </p>
                    <p>
                        importancy : {{task.0.importancy}}
                    </p>
                    <p>
                        pepole involved:
                        {% for user in task.0.users.all %}
                            {{ user.username }},&nbsp;
                        {% endfor %}
                    </p>
                    <p>
                        Group: {{ task.0.group }}
                    </p>
                    
                    
                </div>    
                
            {% endfor %}
        
        </div>
        <fieldset class="createGroupForm">
            <legend>Create new group</legend>
            <input type="text" name="groupName" 
            class="friendGroupInput" placeholder="Add group name ...">
            
            <input type="text" id="friendName" 
            class="friendGroupInput"
            placeholder="enter a name of friend you'd like to add">
            <div class="friendTiles">

            </div>
            <h4>Your current group</h4>
            <p class="groupName">
                Group name:
            </p>
            <div class="friendTiles">

            </div>
            <button class="btn-submit" id="createGroupBtn">
                Create Group
            </button>
        </fieldset>
        <fieldset class="newFriends">
            <legend>Add new friends</legend>
        
            <div class="addFriendForm">
                <input type="text" placeholder="Type in username" name="friendUsername" class="friendGroupInput">
                <div class="users_list">

                </div>
                <button type="button" class="btn-submit">Add</button>
            </div>
        </fieldset>
    </div>
</div>
<script type="module" src="{% static 'js/home/home.js' %}"></script>
{% endblock %}