{% extends 'task_organiser/main_template.html' %}
{%load static %}
{% block content %}

<div class="mainContainer">
    <div class="sideMenu">
        <a href="#plan" class="side-link">Today's plan</a>
        <a href="#addTask" class="side-link">Add task</a>
    </div>
    <div class="mainPanel">
        <h3 class="plan-title">
            Those are Your tasks for today
        </h3>
        <div class="plan" id="plan">
            
            {% for task in tasks %}
                <div class="task2">
                    <h4 style="text-decoration:underline">
                        {{task.name}}
                    </h4>
                    <h6>
                        {{task.description}}
                    </h6>
                    <p>
                        has to be done until: {{task.deadline}}
                    </p>
                    <p>
                        status: {{task.status}}
                    </p>
                    <p>
                        pepole involved:
                        {% for user in task.users.all %}
                            {{ user.username }},&nbsp;
                        {% endfor %}
                    </p>
                    
                    
                </div>    
                
            {% endfor %}
        
        </div>        
        <div class="addTask" id="addTask">
            <h3>Add new task to Your schedule</h3>
            <br>
            {% include 'task_organiser/taskForm.html' %}
        </div>

    </div>
</div>
<script src="{% static 'js/addClassesHome.js' %}"></script>
{% endblock %}
