{% extends 'task_organiser/main_template.html' %}
{%load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/mess.css'%}">
{% endblock %}
{% block content %}
    <div id="date">

    </div>
{% endblock %}
{% block script %}
<script>
    const div = document.getElementById('date');
    async function test(){
        let x = await fetch("http://127.0.0.1:8000/task_api/task_list/")
        let json_data = await x.json();
        let task = await json_data;
        console.log(task);
        task.forEach(element => {
            div.innerHTML += new Date(Number(new Date(element.deadline)) - 7200) + "<br/>";
        });
    }
    test()
</script>
{% endblock %}