{% extends 'task_organiser/main_template.html' %}
{%load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/mess.css'%}">
{% endblock %}
{% block content %}
    <div id="currentId">{{current_user.id}}</div>
     <div class="container">
        <div class="sideConversations">
            <div class="friendSelect">
                <input type="text" id="friendSelectInput" placeholder="Who do you want send message to?">
            </div>
            <div id="friendsAndGroups">

            </div>
            <div class="friendTiles">
                
            </div>
        </div>
        <div class="mainConversation">
            <div class="info">
            </div>
            <div class="currentMessages">
            </div>
            <div class="messageBox">
                <textarea type="text" class="messageInput" placeholder="What do you wanna write?" rows="2"></textarea>
                <button class="btn-submit">Send</button>
            </div>
        </div>

        <div class="commonTasks">
            <h4></h4>
        </div>
    </div>
{% endblock %}
{% block script %}
<script>
    const messages = document.getElementsByClassName("currentMessages")[0]
    messages.scrollTop = messages.scrollHeight;
</script>
<script type="module" src="{% static 'js/messages/messages.js' %}"></script>
{% endblock %}