<div class="form-par">
    <label>Name</label> <input type="text" id="name" required>
</div>
<div class="form-par">
    <label>Description</label> <textarea id="description" rows="1"></textarea>
</div>
<div class="form-par">
    <label>Status</label> 
    <select id="status">
        <option value="to do">to do</option>
        <option value="in progress">in progress</option>
    </select>
</div>
<div class="form-par">
    <label>Deadline</label> <input type="datetime-local" id="deadline" id="" required>
</div>
<div class="form-par">
    <label>Importancy</label> 
    <div class="taskInputField">
        <input type="range" min="1" max="9" id="importancy"> 
        <div class="rangeValue"></div>
    </div>
</div>
<div class="form-par">
    <label>Group</label> 
    <select id="groupSelect">
        <option value="Just You">Just You</option>
    </select>
</div>
<div class="form-par">
    <label>Users</label>
    <div class="userSelectDiv">
        <div id="userSelectTextDiv">
        </div>
        <select id="userSelect" multiple>   
        </select>
    </div> 
</div>
<div>
    <button type="submit" class="btn-submit">submit</button>
    <button class="btn-cancel" type="reset">cancel</button>
</div>
