{% for task in tasks  %}
    <div class="task">
        <h4 class="name" style="text-decoration:underline">
            {{ task.name }}
        </h4>
        <h6 class="description">
            {{ task.description }}
        </h6>
        <div class="date">
                {{ task.date_added }}
        </div>
        
        <div class="deadline">
            {{task.deadline|date:"U"}}
        </div>
        
        <div class="status">
            {{task.status}}
        </div>
        <div class="importancy">
            {{task.importancy}}
        </div>
        <div class="users">
            {% for user in task.users.all %}
                {{ user.username }},&nbsp;
            {% endfor %}
        </div>
        <div class="id">
            {{task.id}}
        </div>
    </div>    
{% endfor %}