{% extends 'task_organiser/main_template.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/userProfile.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div id="friendFormContainer">
    <div id="friendFormWrapper">
        <button onclick="hideForm()" class="hideFormBtn">X</button>
    </div>
</div>
    <div class="mainContainer">
        <div class="userInfo">
            <div class="editImage">
                <form action="" method="post" class="editImageForm" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="editImageForm__fields">
                        {{form.profile_pic}}
                    </div>
                    <button type="submit" class="btn-submit img-btn">save</button>
                    
                </form>
            </div>
        </div>
        <div class="friends">
            <h2 class="title">your friends 
                <i onclick="showForm()"id="editFriendsBtn" title="edit your friends" class="fa-solid fa-pen-to-square"></i>
            </h2>
            
        </div>
        <div class="groups">
            <h2>Group manager</h2> 
        </div>
    </div>
{% endblock %}

{% block script %}
<script type="module" src="{% static 'js/userProfile/userProfile.js' %}"></script>
{% endblock %}